<html>
<head>
   <title>SPORTS INFORMATION</title>
</head>
<body bgcolor="gray">
 <H1 align="center">
        <FONT COLOR="red">SPORTS INFORMATION</FONT>
 </H1>
 
<table border="25" cellspacing="2" align="center">
 
<tr bgcolor="yellow">
  <td align="center">Varsity Sport
  <td>Males
  <td>Females
  <td>Total Participants
   <td rowspan="15" align="center" bgcolor="green">Sport<br>Sog'lig'<br>Garovi<br>
</tr>
 
<tr bgcolor="white">
 <td align="center" bgcolor="white">Baseball
 <td align="center">29
 <td align="center">0<br>
 <td align="center">29<br>
</tr>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Basketball
   <td align="center">14
   <td align="center">14<br>
   <td align="center">28<br>
</tr>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Cross Country
   <td align="center">16
   <td align="center">18<br>
   <td align="center">34<br>
</tr>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Lacrosse
   <td align="center">35
   <td align="center">19<br>
   <td align="center">54<br>
</tr>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Soccer
   <td align="center">29
   <td align="center">24<br>
   <td align="center">53<br>
</tr>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Swimming
   <td align="center">29
   <td align="center">33<br>
   <td align="center">62<br>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Tennis
   <td align="center">10
   <td align="center">10<br>
   <td align="center">20<br>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Track and Field
   <td align="center">34
   <td align="center">23<br>
   <td align="center">57<br>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Wrestling
   <td align="center">37
   <td align="center">0<br>
   <td align="center">37<br>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Spftball
   <td align="center">0
   <td align="center">16<br>
   <td align="center">16<br>
<tr bgcolor="white">
   <td align="center" bgcolor="white">Volleyball
   <td align="center">0
   <td align="center">16<br>
   <td align="center">16<br>
</tr>
</body>
</html>